<div nz-row>
    <div nz-col nzSpan="6">
      <div style="background: #0092ff; padding: 8px; text-align: center;">Column</div>
    </div>
    <div nz-col nzSpan="6">
      <div style="background: #0092ff; padding: 8px; text-align: center;">Column</div>
    </div>
    <div nz-col nzSpan="6">
      <div style="background: #0092ff; padding: 8px; text-align: center;">Column</div>
    </div>
    <div nz-col nzSpan="6">
      <div style="background: #0092ff; padding: 8px; text-align: center;">Column</div>
    </div>
  </div>