<nz-layout class="app-layout">
  <nz-sider nzTheme="light" class="menu-sidebar" zCollapsible nzWidth="256px" nzBreakpoint="md" [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null">
    <nz-affix>
      <div class="sidebar-logo">
        <a href="https://ng.ant.design/" target="_blank">
          <img src="https://cdn.bdo.global/images/bdo_logo/1.0.0/bdo_logo_color.svg" alt="logo">
          <h1>BDO Kitchesink Angular</h1>
        </a>
      </div>
      <ul nz-menu nzTheme="light" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
        <div class="fixed-menu">
          <li nz-submenu nzOpen nzTitle="About">
            <ul>
              <li nz-menu-item nzMatchRouter>
                <a routerLink="/welcome">Welcome</a>
              </li>
              <li nz-menu-item nzMatchRouter>
                <a>Monitor</a>
              </li>
              <li nz-menu-item nzMatchRouter>
                <a>Workplace</a>
              </li>
            </ul>
          </li>
          <li nz-submenu nzOpen nzTitle="Components">
            <ul>
              <li nz-menu-item nzMatchRouter><a [routerLink]="['/button']">Button</a></li>
              <li nz-menu-item nzMatchRouter><a [routerLink]="['/affix']">Affix</a></li>
              <li nz-menu-item nzMatchRouter><a [routerLink]="['/alert']">Alert</a></li>
              <li nz-menu-item nzMatchRouter><a [routerLink]="['/anchor']">Anchor</a></li>
              <li nz-menu-item nzMatchRouter><a [routerLink]="['/auto-complete']">Auto Complete</a></li>
              <li nz-menu-item nzMatchRouter><a [routerLink]="['/avatar']">Avatar</a></li>
              <li nz-menu-item nzMatchRouter><a [routerLink]="['/back-top']">Back Top</a></li>
              <li nz-menu-item nzMatchRouter><a [routerLink]="['/badge']">Badge</a></li>
              <li nz-menu-item nzMatchRouter><a [routerLink]="['/breadcrumb']">Breadcrumb</a></li>
              <li nz-menu-item nzMatchRouter><a [routerLink]="['/calendar']">Calendar</a></li>
              <li nz-menu-item nzMatchRouter><a [routerLink]="['/card']">Card</a></li>
              <li nz-menu-item nzMatchRouter><a [routerLink]="['/carousel']">Carousel</a></li>
              <li nz-menu-item nzMatchRouter><a [routerLink]="['/cascader']">Cascader</a></li>
              <li nz-menu-item nzMatchRouter><a [routerLink]="['/cdk']">Cdk</a></li>
              <li nz-menu-item nzMatchRouter><a [routerLink]="['/checkbox']">Checkbox</a></li>
              <li nz-menu-item nzMatchRouter><a [routerLink]="['/collapse']">Collapse</a></li>
              <li nz-menu-item nzMatchRouter><a [routerLink]="['/comment']">Comment</a></li>
              <li nz-menu-item nzMatchRouter><a [routerLink]="['/descriptions']">Descriptions</a></li>
              <li nz-menu-item nzMatchRouter><a [routerLink]="['/divider']">Divider</a></li>
              <li nz-menu-item nzMatchRouter><a [routerLink]="['/drawer']">Drawer</a></li>
              <li nz-menu-item nzMatchRouter><a [routerLink]="['/dropdown']">Dropdown</a></li>
              <li nz-menu-item nzMatchRouter><a [routerLink]="['/empty']">Empty</a></li>
              <li nz-menu-item nzMatchRouter><a [routerLink]="['/form']">Form</a></li>
              <li nz-menu-item nzMatchRouter><a [routerLink]="['/grid']">Grid</a></li>
              <li nz-menu-item nzMatchRouter><a [routerLink]="['/icon']">Icon</a></li>
              <li nz-menu-item nzMatchRouter><a [routerLink]="['/input']">Input</a></li>
              <li nz-menu-item nzMatchRouter><a [routerLink]="['/input-number']">Input Number</a></li>
              <li nz-menu-item nzMatchRouter><a [routerLink]="['/layout']">Layout</a></li>
              <li nz-menu-item nzMatchRouter><a [routerLink]="['/list']">List</a></li>
              <li nz-menu-item nzMatchRouter><a [routerLink]="['/mention']">Mention</a></li>
              <li nz-menu-item nzMatchRouter><a [routerLink]="['/menu']">Menu</a></li>
              <li nz-menu-item nzMatchRouter><a [routerLink]="['/message']">Message</a></li>
              <li nz-menu-item nzMatchRouter><a [routerLink]="['/modal']">Modal</a></li>
              <li nz-menu-item nzMatchRouter><a [routerLink]="['/notification']">Notification</a></li>
              <li nz-menu-item nzMatchRouter><a [routerLink]="['/page-header']">Page Header</a></li>
              <li nz-menu-item nzMatchRouter><a [routerLink]="['/pagination']">Pagination</a></li>
              <li nz-menu-item nzMatchRouter><a [routerLink]="['/pop-confirm']">Pop Confirm</a></li>
              <li nz-menu-item nzMatchRouter><a [routerLink]="['/popover']">Popover</a></li>
              <li nz-menu-item nzMatchRouter><a [routerLink]="['/progress']">Progress</a></li>
              <li nz-menu-item nzMatchRouter><a [routerLink]="['/qr-code']">QR Code</a></li>
              <li nz-menu-item nzMatchRouter><a [routerLink]="['/radio']">Radio</a></li>
              <li nz-menu-item nzMatchRouter><a [routerLink]="['/rate']">Rate</a></li>
              <li nz-menu-item nzMatchRouter><a [routerLink]="['/resizable']">Resizable</a></li>
              <li nz-menu-item nzMatchRouter><a [routerLink]="['/result']">Result</a></li>
              <li nz-menu-item nzMatchRouter><a [routerLink]="['/schematics']">Schematics</a></li>
              <li nz-menu-item nzMatchRouter><a [routerLink]="['/segmented']">Segmented</a></li>
              <li nz-menu-item nzMatchRouter><a [routerLink]="['/select']">Select</a></li>
              <li nz-menu-item nzMatchRouter><a [routerLink]="['/skeleton']">Skeleton</a></li>
              <li nz-menu-item nzMatchRouter><a [routerLink]="['/slider']">Slider</a></li>
              <li nz-menu-item nzMatchRouter><a [routerLink]="['/space']">Space</a></li>
              <li nz-menu-item nzMatchRouter><a [routerLink]="['/spin']">Spin</a></li>
              <li nz-menu-item nzMatchRouter><a [routerLink]="['/statistics']">Statistics</a></li>
              <li nz-menu-item nzMatchRouter><a [routerLink]="['/steps']">Steps</a></li>
              <li nz-menu-item nzMatchRouter><a [routerLink]="['/switch']">Switch</a></li>
              <li nz-menu-item nzMatchRouter><a [routerLink]="['/table']">Table</a></li>
              <li nz-menu-item nzMatchRouter><a [routerLink]="['/tabs']">Tabs</a></li>
              <li nz-menu-item nzMatchRouter><a [routerLink]="['/tag']">Tag</a></li>
              <li nz-menu-item nzMatchRouter><a [routerLink]="['/timeline']">Timeline</a></li>
              <li nz-menu-item nzMatchRouter><a [routerLink]="['/tooltip']">Tooltip</a></li>
              <li nz-menu-item nzMatchRouter><a [routerLink]="['/transfer']">Transfer</a></li>
              <li nz-menu-item nzMatchRouter><a [routerLink]="['/tree']">Tree</a></li>
              <li nz-menu-item nzMatchRouter><a [routerLink]="['/tree-select']">Tree Select</a></li>
              <li nz-menu-item nzMatchRouter><a [routerLink]="['/tree-view']">Tree View</a></li>
              <li nz-menu-item nzMatchRouter><a [routerLink]="['/typography']">Typography</a></li>
              <li nz-menu-item nzMatchRouter><a [routerLink]="['/upload']">Upload</a></li>
              <li nz-menu-item nzMatchRouter><a [routerLink]="['/version']">Version</a></li>
              <li nz-menu-item nzMatchRouter><a [routerLink]="['/water-mark']">Water Mark</a></li>
            </ul>
          </li>
        </div>
      </ul>
    </nz-affix>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <span class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></span>
        </span>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet>

        </router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>