@import "~ng-zorro-antd/ng-zorro-antd.min.css";

/* app.component.css */
.dropdown-container {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-container .ant-dropdown {
    position: absolute;
    top: 100%;
    right: 0;
  }