<!-- Default button -->
<button nz-button>Default</button>

<!-- Primary button -->
<button nz-button nzType="primary">Primary</button>

<!-- Dashed button -->
<button nz-button nzType="dashed">Dashed</button>

<!-- Danger button -->
<!-- <button nz-button nzType="danger">Danger</button> -->

<!-- Text button -->
<button nz-button nzType="text">Text</button>

<!-- Link button -->
<button nz-button nzType="link">Link</button>

<!-- Buttons with icons -->
<button nz-button nzType="primary" nzShape="circle" nz-icon nzIconType="search"></button>
<button nz-button nzType="primary" nzIconType="search">Search</button>

<!-- Disabled button -->
<button nz-button nzType="primary" [disabled]="true">Disabled</button>

<!-- Loading button -->
<button nz-button nzType="primary" nzLoading>Loading</button>

<!-- Ghost button -->
<button nz-button nzType="primary" nzGhost>Ghost</button>